/* for whole documents */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/* for hide scroll bar */
::-webkit-scrollbar {
    display: none;
}

body{
    position: relative;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image:linear-gradient(rgba(228, 222, 222, 0.7),rgba(187, 126, 206, 0.7)),url(myimage/clouds.gif);
}



.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 400px;
    min-width: 500px;
    max-width: 100px;
    background-image: linear-gradient(rgb(191, 154, 250), rgb(166, 209, 228));
    border-radius: 10px;
    padding: 20px;
}
/* header */

.container header {
    color: rgb(125, 48, 148);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 100%;
    margin-bottom: 20px;
}

header h1 {
    font-size: 30px;
    font-weight: bolder;
    margin-bottom: 10px;
    letter-spacing: 1px;
    word-spacing: 5px;
}


/* input-section */

header .input-section {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
}

.input-section input {
    margin-right: 10px;
    max-width: 100%;
}
.max-w-xs {
    max-width: 20rem;
}
.w-full {
    width: 100%;
}

.input {
    border-radius: 0.5rem;
    height: 3rem;
    border-width: 2px;
    flex-shrink: 1;
    padding: 0rem 1rem;
    font-size: 1.2rem;
    line-height: 2;
}

/* todofilters */

.todos-filter, .filters {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 100%;
    margin-bottom: 10px;
}
.filters {
  margin-top: 10px;
}


.todos-list {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    min-height: 100%;
    max-height: 54vh;
    overflow-y: scroll;
    width: 100%;
}

.todos-list .todo-item{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    width: 100%;
}

.todo-item{
      background-color: rgb(229, 196, 241);
      border-radius: 5px;
      margin-bottom: 5px;
}

.todo-item p{
    margin-right: 10px;
    font-size: 1.1rem;
}

.todo-item .todo-actions {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: end;
    width: 100%;
    height: 100%;
}

.todo-actions button:not(:last-child){
    margin-right: 10px;
}

.di, .ci{
    pointer-events: none;
}


.line{
    text-decoration: line-through;
}


/*buttons styling*/
.btn{
    cursor: pointer;
    user-select: none;
    border: none;
    outline: none;
    text-align: center;
    border-radius: 0.5rem;
    height: 1.5rem;
    min-height: 1rem;
    text-transform: uppercase;
    border-width: 2px;
    animation: button-pop var(--animation-btn,.25s)ease-in-out;
    flex-wrap: wrap;
    flex-shrink: 0;
    justify-content: center;
    align-items: center;
    padding-left: 1rem;
    padding-right: 1rem;
    font-size: .875rem;
    font-weight: 400;
    line-height: 1em;
    text-decoration-line: none;
    transition: .2s all cubic-bezier(.4,0,.2,1);
    display: inline-flex;
}

.btn:hover{
    background-color: rgb(25, 50, 75);
    color: cyan;
}


.btn-add{
    background-color: rgb(25, 122, 54);
    color: rgb(25, 122, 54)
}
.btn-add:hover{
    background-color: rgb(76, 204, 114);
    color:rgb(25, 122, 54);
}

.btn-success{
    opacity: 1;
    background-color:rgb(25, 122, 54);
    color: rgb(182, 181, 181)
}

.btn-success:hover{
    background-color: rgb(76, 204, 114);
    color:rgb(182, 181, 181);
}

.btn-error{
    opacity: 1;
    background-color:rgb(199, 15, 15);
    color: white
}
.btn-error:hover{
    background-color: rgb(247, 89, 89);
    color: white;
}
/*
dropdown*/
.dropbtn {
    background-color: rgb(10, 73, 124);
    color: whitesmoke;
    padding: 10px 10px;
    font-size: 15px;
    border: rgb(240, 248, 248);
    cursor: pointer;
    border-radius: 5px;
  }
  
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: lightcyan;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .dropdown-content a {
    color: purple;
    padding: 12px 12px;
    text-decoration: none;
    display: block;
  }
  
  .dropdown-content a:hover {background-color:rgba(228, 222, 222, 0.7)}
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: skyblue;
    color: rgb(41, 7, 133, 205)
  }


/* Responsive */
@media only screen and (max-width: 500px) {
    .container {
        margin: 0 20px;
        max-width: 96%;
        min-width: 96%;
    }
}